.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 330px;
  height: 250px;
}

.slider {
  width: 330px;
  height: 250px;
  margin: 20px;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

#slide-outside{
  width: 200px;
  height: 220px;
  position: relative;
  margin-top: -290px;
  margin-left: 250px;
}


.slides {
  display: flex;
  overflow-x: scroll;
  position: relative;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.slide:nth-of-type(even) {
  background: rgb(50, 31, 223);
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  height: 250px;
  scroll-snap-align: center;
  margin-right: 0px;
  box-sizing: border-box;
  background: rgb(223, 31, 137);
  transform-origin: center center;
  transform: scale(1);
}

.slide__text {
  font-size: 40px;
  font-weight: bold;
  font-family: sans-serif;
}


.slider::before,
.slider::after {
  content: "";
  z-index: 1;
  background: none;
  pointer-events: none;
}

.slider__nav {
  box-sizing: border-box;
  position: absolute;
  bottom: 5%;
  left: 50%;
  width: 250px;
  margin-left: -120px;
  text-align: center;
}

.slider__navlink {
  display: inline-block;
  height: 10px;
  width: 35px;
  background-color: black;
  margin: 0 10px 0 10px;
}
/*
.slide-div-img{
  position: absolute;
  top: -50px;
  width: 250px;
  height: 200px;
}
.slide-img{
  width: 250px;
  height: 200px;
}

*/